@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
body{
    background-color: #f7f8fe;
    background-image: url("../../components/img.jpeg");
    background-repeat: no-repeat;
    object-fit: fill;
    background-position:top;
    background-size:cover;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


#heading{
    color: black;
    font-size: 40px;
}
.div-middle{
    margin-top: 5   0px;
}

#loading{
    color: purple;
}


#input-body{
    margin-top: 50px;
    height: 50px;
    font-size: 18px;
    border-radius: 8px;
    outline: none;
    border: 1px solid blue;
    padding-left: 10px;
}

.button-body{
    height: 55px;
    width: 5%;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #134C77;
    color: #ffff;
    font-weight: 600;
    font-size: 17px;
}

.inner-div-body{
    border: 1px solid black;
    width: 40%;
    margin-left: 30%;
    margin-top: 30px;
    font-size: 20px;
}

.display-none{
    display: none;
}
.errorMessage{
    color: brown;
    font-size: 40px;
    
}
.span-forecasts{
    font-weight: 800;    
}

.fontawesome-icons{
    font-size: 70px;
    margin-top:20px;
}
.clear{
    color: yellow;
    
}

.light-cloud{
    color: rgb(68, 194, 236);
}

.temp{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 800;
}

/* .inner-div{
    display: flex;
    justify-content:space-evenly;


} */

p{
    color:rgb(47, 47, 47);
}