@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
body{
    background-repeat: no-repeat;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    background-position:top;
    background-size:100% 800%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


#heading{
    color: black;
    font-size: 40px;
}
.div-middle{
    margin-top: 5   0px;
}

#loading{
    color: #ef6234;
}


#input-body{
    margin-top: 50px;
    width: 250px;
    height: 50px;
    font-size: 18px;
    border-radius: 24px;
    outline: none;
    border: 1px solid blue;
    padding-left: 10px;
}

.button-body{
    font-size: 18px;
    height: 50px;
    width: 120px;
    background-color: #ef6234;
    color: white;
    border-radius: 24px;
    outline: none;
    margin-left: 10px;
    border: 1px solid #ef6234;
    font-weight: 600;
    cursor: pointer;

}

.inner-div-body{
    background-color: #E9F0FE;
    width: 26%;
    margin-left: 37%;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 8px;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 1px 1px rgb(146, 129, 243);
}

.display-none{
    display: none;
}
.errorMessage{
    color: brown;
    font-size: 30px;
    font-weight: 400;
    
}
.span-forecasts{
    font-weight: 800;
}

.fontawesome-icons{
    font-size: 70px;
    margin-top:20px;
    padding-top: 30px;
}
.temp{
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 800;
}
.temp-weatherstate{
    justify-content: center;
    text-align: center;
}
.weatherState{
    font-weight: 300;
}
.clear{
    color: yellow;
    
}

.light-cloud{
    color: rgb(68, 194, 236);
}


/* .inner-div{
    display: flex;
    justify-content:space-evenly;


} */

p{
    color:rgb(47, 47, 47);
}